body {
  background-color: #fffeef;
}

h1 {
  text-align: center;
  color: green;
  font-family: cursive;
}

ul {
  text-align: left;
  color: blue;
  font-family: cursive;
}

a:hover {
  background-color: green;
}
